header {
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 180%;
}

.logo_header, .logo_header_menu {
    display: flex;
    justify-content: center;
    padding: 13px;
}

.logo_header {
    border-bottom: solid rgb(200, 200, 200);
}

.logo_header_menu {
    border: none;
}

/*tablette*/

@media screen and (min-width: 600px) {
    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 5px;
    }
    
    .logo_header {
        justify-content: flex-start;
        border-bottom: none;
    }
}

/*ordi*/

@media screen and (min-width: 1000px) {
    header {
        border-bottom: solid rgb(200, 200, 200);
    }
}