button {
    box-shadow: 0.5px 0.5px 4px grey;
    border: none;
    color: white;
    margin-top: 20px;
    margin-bottom: 35px;
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background: linear-gradient($color_secondary, $color_primary);
}

button:hover {
    opacity: 0.8;
    box-shadow: 0.5px 0.5px 3px black;
    cursor: pointer;
}

.command {
    display: flex;
    justify-content: center;
}

.header {
    position: relative;
}

.explore_restaurants_header {
    position: absolute;
    visibility: hidden;
    width: 0px;
    height: 0px;
}

/*tablette*/

@media screen and (min-width: 600px) {

    .explore_restaurants_header {
        visibility: visible;
        right: 25%;
    }
    
    .explore_restaurants {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
}