/*header*/

.header {
    position: relative;
}

.back {
    position: absolute;
    left: 20px;
    top: 25px;
    width: 15px;
}

.back:hover {
    color: $color_primary;
}

.back:active {
    text-shadow: 1px 1px 2px black;
}

/*body*/

.fa-mobile-alt {
    margin-right: 20px;
}

.fa-list-ul, .fa-store {
    margin-right: 15px;
}

.card_menu, .logo_section {
    position: relative;
}

.empty_heart {
    z-index: 0;
    font-size: 116%;
    position: absolute;
}

.full_heart {
    z-index: 1;
    font-size: 120%;
    position: absolute;
    opacity: 0;
    background-image: linear-gradient($color_primary, $color_secondary);
    background-clip: text;
    color: transparent;
}

.heart_home {
    right: 10px;
    bottom: 35px;
    width: 30px;
}

.heart_menu {
    right: 25px;
    top: 27px;
}

.heart_home, .heart_menu {
    cursor: pointer;
}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: $color_tertiary;
    color: white;
    border-radius: 0px 20px 20px 0px;
    width: 0px;
    height: 60px;
}

/*footer*/

.icon_text {
    display: flex;
}

.footer_icon {
    margin-right: 10px;
}

/*ordi*/

@media screen and (min-width: 1000px) {
    .empty_heart, .full_heart {
        font-size: 25px;
    }

    .back {
        visibility: hidden;
    }
}