/*header*/

.header {
    position: relative;
}

.back {
    position: absolute;
    left: 20px;
    top: 25px;
    width: 15px;
}

.back:hover {
    color: $color_primary;
}

.back:active {
    text-shadow: 1px 1px 2px black;
}

/*body*/

.fa-mobile-alt {
    margin-right: 20px;
}

.fa-list-ul, .fa-store {
    margin-right: 15px;
}

.card_menu, .logo_section {
    position: relative;
}

.heart_home, .heart_menu {
    position: absolute;
    font-size: 120%;
    width: 20px;
}

.heart_home {
    right: 10px;
    bottom: 40px;
}

.heart_menu {
    right: 25px;
    top: 27px;
}

.fa-heart:hover {
    cursor: pointer;
    color: $color_primary;
}

/*.heart:focus {
    color: red;
}*/

/*footer*/

.icon_text {
    display: flex;
}

.footer_icon {
    margin-right: 10px;
}