@font-face {
    font-family: "roboto";
    src: url("polices/Roboto/Roboto-regular.ttf"),
         url("polices/Roboto/Roboto-regular.woff"),
         url("polices/Roboto/Roboto-regular.otf");
}

@font-face {
    font-family: "shrikhand";
    src: url("polices/Shrikhand/Shrikhand-Regular.ttf"),
         url("polices/Shrikhand/Shrikhand-Regular.woff"),
         url("polices/Shrikhand/Shrikhand-Regular.otf");
}

body, .la_palette_du_gout, .la_note_enchantee, .a_la_francaise, .delice_des_sens {
    font-family: "roboto", serif;
    margin: 0%;
}

.logo_header, .logo_header_menu, .logo_section, .logo_footer {
    font-family: "shrikhand", serif;
    font-weight: normal;
}

h1, h2, h3, h4, h5 {
    margin: 0%;
}

a {
    color: black;
    text-decoration: none;
    width: 100%;
}

$color_primary: #9356DC;
$color_secondary: #FF79DA;
$color_tertiary: #99E2D0;
$background_lighter: rgb(245, 245, 245);
$background: rgb(228, 228, 228);
$background_darker: rgb(55, 55, 55);

body {
    overflow-x: hidden;
}