/*@keyframes apparition {
    0% {
        transform: opacity(0);
    }
    100% {
        transform: opacity(1);
    }
}

.card_food {
    animation-name: apparition;
    animation-duration: 3000ms;
    animation-fill-mode: both;
}*/





