/*presentation section*/

.section_aside {
    display: flex;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-left: 5%;
}

.presentation {
    border-radius: 15px;
    width: 60%;
    border: solid 3px $color_primary;
}

.location {
    border-radius: 15px 15px 0px 0px;
}

.intro {
    border-radius: 0px 0px 15px 15px;
    padding-top: 30px;
    height: 140px;
}

/*menus section*/

.restaurants {
    padding-top: 25px;
    padding-left: 3%;
}

.h4_home {
    width: 100%;
}

.card_menu_link {
    width: 45%;
}