/*.la_palette_du_gout {
    background-color: red;
}

.logo_section {
    padding-left: 30px;
}

.starter, .dish, .dessert {
    margin-top: 20px;
    margin-bottom: 20px;
}

.h2_menus {
    font-size: 90%;
    font-weight: normal;
    padding-bottom: 5px;
    margin: 10px;
    border-bottom: solid $color_tertiary;
    width: 40px;
}

.card_food {
    border-radius: 20px;
    width: 85%;
    max-height: 35px;
    box-shadow: 1px 1px 2.5px black;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px;
    margin-top: 15px;
}

.text_food {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price_food {
    width: 85%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 100%;
    font-weight: bold;
}*/